@import 'fonts';
@import 'colors';

header {
	.flexContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		width: 85%;
		
		.appTitle {
			font-family: $h1HeaderFont;
			color: $prussianBlue;
			font-size: 2.3rem;
			padding: 0 20px;
		}

		.tagline {
			font-family: $baseFont;
			font-size: 1rem;
			text-align: left;
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 940px) {
	header {
		.flexContainer {
			flex-direction: column;
			align-items: center;
			width: 100%;

			.appTitle {
				margin-bottom: 15px;
				text-align: center;
			}

			.tagline {
				margin-top: 0;
				font-size: .9rem;
			}
		}
	}
}

@media (max-width: 332px) {
	header {
		.flexContainer {
			.tagline {
				font-size: .8rem;
			}
		}
	}
}
