@import 'fonts';
@import 'colors';

header {

	.flexContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		width: 85%;
		
		.appTitle {
			font-family: $h1HeaderFont;
			color: $prussianBlue;
			font-size: 2.3rem;
			padding: 0 20px;
		}

		.tagline {
			font-family: $baseFont;
			font-size: 1rem;
			text-align: left;
		}
	}
}
