// @imports inside style.scss
@import 'setup';
@import 'header';
@import 'footer';
@import 'fonts';
@import 'colors';
@import 'mixins';

// GENERAL
.wrapper {
	max-width: 1080px;
	width: 90%;
	margin: 0 auto;
}

body {
	font-size: 62.5%;
	background-color: $honeyDew;
}

header, 
main {
	border-left: 1px solid $celadonBlue;
	border-right: 1px solid $celadonBlue;
}

// MAIN CSS

// SECTION: INVOICE DETAILS
.invoiceDetails {
	padding: 50px 0;
	display: flex;

	.leftCol {
		width: 60%;
		margin-left: 20px;
	}

	.rightCol {
		width: 40%;
		margin-right: 20px;
	}

	.invoiceIdentifiers {
		display: flex;
		flex-direction: column;
		align-items: right;
		margin-top: 30px;
	}
	
	.flexContainerDetail {
		display: flex;
		justify-content: right;
		margin-bottom: 10px;
	}
	
	.fieldInput {
		width: 150px;
	}
	
	.fieldHeading {
		margin-right: 10px;
	}

	.fieldText {
		height: 150px;
		width: 300px;
		margin: 7px 0;
		resize: none;
		overflow: none;
	}
}

.fieldHeading,
.fieldInput,
.fieldText {
	font-family: $baseFont;
	font-size: 1.1rem;

	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.billingFrom,
.billingTo {
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 40%;
}


// SECTION: LINE ITEMS
.invoiceTable {
	padding-bottom: 50px;
	border-top: 2px solid $celadonBlue;
	border-bottom: 2px solid $celadonBlue;
}

// table header
.itemsTableHeader {
	width: 100%;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-left: 0;
		
		
		li {
			font-family: $baseFont;
			font-size: 1.3rem;
			list-style-type: none;
			padding-left: none;
			text-align: center;
		}

		.itemDescription {
			width: 65%;
		}

		.dollarAmount {
			width: 30%;
		}
	}
}

// dynamic table
.dynamicItemRow {
	width: 100%;
	display: flex;
	flex-direction: column;
}

// default table row
.dynamicRow {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;

	.inputRow {
		height: 35px;
	}

	.itemDescInput {
		width: 65%;
	}
	.amountVal {
		width: 30%;
	}
}

// add new line button
.newLineBtn {
	display: inline-block;
	padding: 6px 13px;
	margin-left: 13px;
	margin-top: 10px;
	
	cursor: pointer;
	box-shadow: 0px 2px 0px 0px $honeyDew;
	
	border: 1px solid $celadonBlue;
	border-radius: 7px;
	text-decoration: none;
	text-shadow: 0px -1px 0px $prussianBlue;
	
	background-color: $celadonBlue;
	color: $honeyDew;
	font-family: $baseFont;
	font-size: 1rem;
	font-weight: 700;

	&:hover {
		background: linear-gradient(to bottom, $celadonBlue 5%, #0a8cad 100%);
		background-color: $celadonBlue;
	}

	&:active {
		position: relative;
		top: 1px;
	}
}


// total section
.totalDetails {
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: left;
}

.flexContainerTotals {
	display: flex;
	flex-direction: column;
	border: 1px dashed black; //remove this later
	width: 45%;

	.col {
		display: flex;
		justify-content: space-between;
		padding-right: 35px;
	}
}

.totalStyle {
	font-family: $baseFont;
	font-size: 1.4rem;
}
