html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 85%;
}

header .flexContainer .appTitle {
  font-family: "IBM Plex Sans", sans-serif;
  color: #1D3557;
  font-size: 2.3rem;
  padding: 0 20px;
}

header .flexContainer .tagline {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: left;
}

/* Landscape phone to portrait tablet */
@media (max-width: 940px) {
  header .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .flexContainer .appTitle {
    margin-bottom: 15px;
  }
  header .flexContainer .tagline {
    margin-top: 0;
    font-size: .9rem;
  }
}

footer {
  padding: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

footer p {
  margin: 0;
  line-height: 1.3rem;
}

footer p:nth-of-type(2) {
  font-size: .8rem;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-size: 62.5%;
  background-color: #e2e2e2;
  padding-top: 10px;
}

header,
main {
  border-left: 2px solid #457B9D;
  border-right: 2px solid #457B9D;
  border-bottom: 2px solid #457B9D;
  border-top: 2px solid #457B9D;
  background-color: #F1FAEE;
}

textarea:hover,
input:hover {
  background-color: #e2e2e2;
}

.invoiceDetails {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invoiceDetails .leftCol {
  width: 60%;
  margin-left: 20px;
}

.invoiceDetails .rightCol {
  width: 40%;
  margin-right: 20px;
}

.invoiceDetails .invoiceIdentifiers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  margin-top: 25px;
}

.invoiceDetails .invoiceIdentifiers .fieldHeading {
  width: 35%;
}

.invoiceDetails .flexContainerDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.invoiceDetails .fieldInput {
  width: 130px;
  height: 33px;
  padding: 1px 3px;
}

.invoiceDetails .fieldHeading {
  margin-right: 10px;
}

.invoiceDetails .fieldText {
  height: 150px;
  width: 300px;
  margin: 7px 0;
  padding: 5px 5px;
  resize: none;
  overflow: none;
}

.invoiceDetails .requiredAsterisk {
  color: #E63946;
  font-size: 1.1rem;
}

.fieldHeading,
.fieldInput,
.fieldText {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.billingFrom,
.billingTo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 40%;
}

.invoiceTable {
  padding-bottom: 50px;
  border-top: 2px solid #457B9D;
  border-bottom: 2px solid #457B9D;
}

.itemsTableHeader {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.itemsTableHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

.itemsTableHeader ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  list-style-type: none;
  padding-left: 15px;
}

.itemsTableHeader ul .itemDescription {
  width: 60%;
  text-align: center;
}

.itemsTableHeader ul .dollarAmount {
  width: 29%;
}

.dynamicItemRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dynamicRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.dynamicRow label {
  display: none;
}

.dynamicRow .inputFlexContainer {
  width: 100%;
}

.dynamicRow .inputRow {
  height: 35px;
  padding: 3px 7px;
  margin-right: 15px;
  margin-left: 4px;
}

.dynamicRow .itemDescInput {
  width: 70%;
  margin: 0 15px;
}

.dynamicRow .amountFlexContainer {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dynamicRow .amountFlexContainer .currencySymbol {
  margin: 0;
  padding-left: 25px;
  font-size: 1.2rem;
}

.dynamicRow .amountFlexContainer .amountVal {
  width: 37%;
}

.newLineBtn {
  display: inline-block;
  padding: 6px 13px;
  margin-left: 13px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 0px 0px #F1FAEE;
          box-shadow: 0px 2px 0px 0px #F1FAEE;
  border: 1px solid #457B9D;
  border-radius: 7px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #1D3557;
  background-color: #457B9D;
  color: #F1FAEE;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.newLineBtn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #457B9D), to(#0a8cad));
  background: linear-gradient(to bottom, #457B9D 5%, #0a8cad 100%);
  background-color: #457B9D;
}

.newLineBtn:active {
  position: relative;
  top: 1px;
}

.totalDetails {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.flexContainerTotals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px dashed black;
  width: 35%;
}

.flexContainerTotals .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.totalStyle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .invoiceDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .invoiceDetails .leftCol {
    width: 100%;
  }
  .invoiceDetails .billingAddress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .invoiceDetails .billingTo {
    margin-right: 20px;
  }
  .invoiceDetails .rightCol {
    width: 42.6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-right: 0;
    margin-left: 20px;
  }
  .invoiceDetails .invoiceIdentifiers {
    width: 84.3%;
  }
  .invoiceDetails .invoiceIdentifiers .fieldHeading {
    width: 50%;
  }
  .invoiceDetails .fieldText {
    width: 90%;
  }
  .invoiceDetails .flexContainerDetail {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .invoiceDetails .fieldInput {
    width: 43%;
  }
  .dynamicRow .itemDescInput {
    width: 95%;
  }
  .dynamicRow .amountFlexContainer {
    width: 80%;
  }
  .dynamicRow .amountFlexContainer .amountVal {
    width: 30%;
  }
  .itemsTableHeader ul .dollarAmount {
    width: 42%;
    text-align: left;
  }
  .itemsTableHeader ul .itemDescription {
    text-align: left;
  }
  .itemsTableHeader ul li {
    font-size: 1.2rem;
  }
  .itemsTableHeader .flexContainerTotals .col {
    width: 89%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .invoiceDetails .billingAddress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .invoiceDetails .invoiceIdentifiers {
    width: 100%;
  }
  .invoiceDetails .fieldInput,
  .invoiceDetails .billingTo,
  .invoiceDetails .billingFrom {
    width: 43%;
  }
  .invoiceDetails .fieldText {
    width: 100%;
  }
  .fieldHeading,
  .fieldInput,
  .fieldText {
    font-size: .9rem;
  }
  .requiredAsterisk {
    font-size: .9rem;
  }
  .totalStyle {
    font-size: 1.2rem;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .invoiceDetails .rightCol {
    width: 67%;
  }
  .invoiceDetails .billingFrom,
  .invoiceDetails .billingTo {
    width: 67%;
  }
  .itemsTableHeader {
    display: none;
  }
  .dynamicRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 0;
  }
  .dynamicRow label {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: .9rem;
    margin-left: 20px;
  }
  .dynamicRow .itemLabel {
    display: none;
  }
  .dynamicRow .amountFlexContainer {
    width: 100%;
  }
  .dynamicRow .inputFlexContainer,
  .dynamicRow .amountFlexContainer {
    padding-top: 12px;
  }
}

/* Landscape phones and down */
@media (max-width: 330px) {
  .invoiceDetails .rightCol,
  .invoiceDetails .billingFrom,
  .invoiceDetails .billingTo {
    width: 90%;
  }
  .invoiceDetails .fieldInput {
    width: 47%;
  }
  .dynamicRow .itemDescInput {
    width: 90%;
    overflow: auto;
  }
  .flexContainerTotals {
    width: 55%;
    margin-left: 30px;
  }
}
